# Ignore compiled output and build directories
build/
dist/
*.o

# Ignore log files
*.log

# Ignore temporary files
*.tmp
.temp/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore sensitive or configuration files
secrets.json
config.ini
.env

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore npm dependencies
node_modules/

# Ignore specific folder
public/uploads